@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>This is a .NET 9 Blazor Web App with Global Server Interactivity</p>
<p>We have created a page called Task.razor and provided a link to it in NavMenu.razor</p>
<p>However, it does not build. We get some strange errors:</p>
<p>'Weather.OnInitializedAsync()': return type must be 'Task' to match overridden member 'ComponentBase.OnInitializedAsync()'</p>
<p>and</p>
<p>@((MarkupString)"The return type of an async method must be void, Task, Task<T>, a task-like type, IAsyncEnumerable<T>, or IAsyncEnumerator<T>")</p>
